/* Apply default monospace font */
body {
  background-color: #000000;  /* Black background */
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: monospace;  /* Use default monospaced font */
}

.container {
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 2px;
  width: 200px;
  font-family: monospace;  /* Use default monospaced font for the input */
}

button {
  padding: 10px 15px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  font-family: monospace;  /* Use default monospaced font for the button */
}

button:hover {
  background-color: #262626;
  color: #ffffff;
}
